@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Italiana&family=Josefin+Slab:ital,wght@0,100;1,100&family=Roboto:wght@100&display=swap');

.bio{
    font-size: 2em;
    word-wrap: break-word;
    text-align: justify;
    font-family: 'Italiana', serif;
    color: #2b4e41;
}

.header{
    text-align: center;
    font-size: 1.2em;
}