.intro {
    //background-image: url('https://i.pinimg.com/736x/40/92/57/409257049228ec57fa95d6a7463d4a2e.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    display: flex;
    column-count: 2;
    column-gap: 80px;
    justify-content: space-evenly;
    padding: 2em;
    height: 700px;
    background-color: transparent;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: 1%;
    margin-left: 1%;
}

.profile {
    padding-right: 5%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.bio {
    padding-right: 2%;
    margin-left: 5%;
    justify-content: center;
    align-self: center;
    color: darkslategrey;
}

.while {
    word-wrap: break-word;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    padding-top: 1em;
}

.shows {    
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1em;
}

.inspoMemes {
    //background-image: url('https://i.pinimg.com/736x/40/92/57/409257049228ec57fa95d6a7463d4a2e.jpg');
    background-color: transparent;
    background-repeat: none;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    height: 500px;
    margin-top: 4em;
    margin-bottom: .5em;
    margin-right: 1%;
    margin-left: 1%;
    // border: 2px solid white;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.charlieHome {
    display: flex;
    height: max-content;
    height: min-content;
    border: 1px solid black;
}

.frankHome {
    display: flex;
    height: max-content;
    height: min-content;
}

.michealHome {
    display: flex;
    height: max-content;
    height: min-content;
}

.dwightHome {
    display: flex;
    height: max-content;
    height: min-content;
}