.container {
    height: 35vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    border: 0.1vw solid darkslategray;
}

.partA {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    word-wrap: break-word;
    font-size: 3.25vw;
    font-family: 'Playfair Display', serif;
    color: darkslategray;
}

.partB {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic {
    max-width: 105%;
    overflow: hidden;
}

.pic:hover{
    opacity: .8;
}

.text{
    text-align: center;
    word-wrap: break-word;
    font-size: 1.25vw;
    font-family: 'Playfair Display', serif;
    color: darkslategray;
    padding-left: 3em;
    padding-right: 3em;
    margin: 3em 0 3em 0;
}


.githubLink {
    font-size: 2vw;
    text-decoration: none;
    color: darkslategrey;
}

.githubLink:hover {
   opacity: .8;
}