@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Italiana&family=Petit+Formal+Script&family=Roboto:wght@100&display=swap');
.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2eafb;
    // color: rgba(24,31,52,255);
    background-image: url('https://i.pinimg.com/564x/18/1e/db/181edb201df4850ada2e9ec9712e251a.jpg');
    background-size: cover;
    background-position: bottom;
    font-size: 1em;
    font-family: 'Petit Formal Script', cursive;
}

.footList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-left: solid 2px rgba(24,31,52,255);
    padding-left: 1em;
    padding-right: 5em;
}

.link{
    text-decoration: none;
    color: #886a3f;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-left: solid 2px rgba(24,31,52,255);
    padding-left: 1em;
}

.socialsLink{
    text-decoration: none;
    color: #886a3f
}