:root{
    background-color: #1b2334;
    /* background-image: url('https://i.pinimg.com/736x/f8/f1/09/f8f109415a025309b04a8b8448d2a5ac.jpg');
    background-size: cover;
    background-position: middle; */
}