@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Italiana&family=Josefin+Slab:ital,wght@0,100;1,100&family=Lobster+Two&family=Merriweather:wght@300&family=PT+Serif:ital,wght@1,700&family=Playfair+Display&family=Roboto:wght@100&family=Zilla+Slab:wght@400;700&display=swap');

.Nav {
    padding: 4%;
    font-size: 1.45vw;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: transparent;
    background-size: cover;
    background-position: top;
    font-family: 'Playfair Display', serif;
    border-bottom: 0.1vw solid darkslategrey;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.25vw;
}

.link {
    color: darkslategray;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: darkslategray;
}

.KP {
    font-size: 1.79vw;
}

.FSSE {
    font-size: 1.3vw;
}