@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Italiana&family=Josefin+Slab:ital,wght@0,100;1,100&family=Roboto:wght@100&display=swap');

.Nav {
    background-color: #f2eafb;
    padding: 3%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // color: rgba(24,31,52,255);
    background-image: url('https://i.pinimg.com/564x/18/1e/db/181edb201df4850ada2e9ec9712e251a.jpg');
    background-size: cover;
    background-position: top;
    font-family: 'Italiana', serif;
    font-style: italic;
    font-weight: 1000;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.link {
    color: #74745c;
    text-decoration: none;
}

// .link:hover{
//     transition: all .9s ease;
// -webkit-transition: all .9s ease;
// font-size: 1.5em;
// }

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    // color: rgb(120,108,92);
    color: #74745c;
    // padding-right: 15%;
}

.KP {
    font-size: 1em;
}

.FSSE {
    font-size: 1.2em;
    // font-style: italic;
}