@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Italiana&family=Josefin+Slab:ital,wght@0,100;1,100&family=Lobster+Two&family=Merriweather:wght@300&family=PT+Serif:ital,wght@1,700&family=Playfair+Display&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zilla+Slab:wght@400;700&display=swap');

.ptA{
   font-family: 'Playfair Display', serif;
   text-align: center;
   padding-bottom: 3em;
   margin-left: 15%;
   margin-right: 15%;
}

.pro {
   text-align: left;
   font-size: 3.75vw;
   color:#759bae;
}

.proText {
   text-align: justify;
   font-size: 1.25vw;
   color: darkslategray;
   font-family: 'Source Sans Pro', sans-serif;
}

.depend {
   text-align: right;
   font-size: 3.75vw;
   color:#759bae
}

.dependText {
   text-align: justify;
   font-size: 1.35vw;
   color: darkslategray;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
}

.skill {
   text-align: left;
   font-size: 3.75vw;
   color:#759bae;
}

.skillText {
   text-align: justify;
   font-size: 1.3vw;
   color: darkslategray;
   font-family: 'Source Sans Pro', sans-serif;
}