// .ptA{
//    background-color: #fff;
// }

.pro {
   text-align: center;
   margin-top: 2em;
   font-size: 65px;
   font-family: 'Playfair Display', serif;
   color: darkblue;
}

.proText {
   word-wrap: break-word;
   text-align: justify;
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   font-size: 25px;
   font-family: 'Playfair Display', serif;
   margin-left: 15%;
   margin-right: 15%;
   color: darkslategray;
}

.ptB{
   column-count: 2;
}

.depend {
   text-align: center;
   font-size: 65px;
   font-family: 'Playfair Display', serif;
}

.dependText {
   word-wrap: break-word;
   text-align: justify;
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   font-size: 25px;
   font-family: 'Playfair Display', serif;
   color: darkslategray;
}

.skill {
   text-align: center;
   font-size: 65px;
   font-family: 'Playfair Display', serif;
}

.skillText {
   word-wrap: break-word;
   text-align: justify;
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   font-size: 25px;
   font-family: 'Playfair Display', serif;
   color: darkslategray;
}